body {
	margin-top: 50px;
  background-color: #fc6;
}

li {
  padding: 5px;
  margin: 5px;
}

h1 {
	 color: red;
}

.button {
	background-color: blue;
	color: white;
	border-radius: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
